*
!docker/
!docker/**
!README.md
!LICENSE
!.ucagent_env.example
!scripts/
!scripts/**
!src/
!src/**
!tests/
!tests/**
!reports/
!reports/**

.git/
.ucagent_env
third_party/
_Trash/
__pycache__/
.pytest_cache/
*.o
*.so
*.fst
*.yw
build/
out/
log/
tests/cases/*/formal/*_assert/
tests/cases/*/formal/*_cover/
tests/cases/*/formal/*_pre/
tests/cases/*/formal/*_fixed/
tests/cases/*/formal/*_buggy/
tests/cases/*/formal/adder_buggy/
tests/cases/*/formal/adder_fixed/
tests/cases/*/formal/generated/
tests/ucagent_workspaces/*/.ucagent/
tests/ucagent_workspaces/*/unity_test/
tests/ucagent_workspaces/*/uc_test_report/
